exist_setting_small/output
exist_setting_small/dataset
exist_setting_small/output_test/*
exist_setting_ogb/output
exist_setting_ogb/dataset
exist_setting_ogb/output_test/*
exist_setting_ddi/output
exist_setting_ddi/dataset
exist_setting_ddi/output_test/*
HeaRT_small/output
HeaRT_small/dataset
HeaRT_small/output_test
HeaRT_ogb/output
HeaRT_ogb/dataset
HeaRT_ogb/output_test
HeaRT_ddi/output
HeaRT_ddi/dataset
HeaRT_ddi/output_test
/.idea
/.vscode
/doc/build
__pycache__
*.pyc
.DS_Store
*_cn.py
